In [121]:
# import packages
import os
import pandas as pd

In [122]:
# set directory
main_directory=os.getcwd().strip('notebooks')

## Generate modelling dataset

In [123]:
# get rental_population df
rental_pop=pd.read_csv(main_directory+'data/curated/population/rental_population.csv')

In [124]:
rental_pop

,Unnamed: 0,cost_text,property_type,SA2 code_x,SA2 name,S/T name,SA2 code_y,pop_2012,pop_2013,pop_2014,pop_2015,pop_2016,pop_2017,pop_2018,pop_2019,pop_2020,pop_2021,Area,pop_density_2021
0,0,460.0,House,201011001,Alfredton,Victoria,201011001,9060,9714,10338,11039,11852,12639,13520,14408,15472,16823,52.7,319.2
1,1,440.0,House,201011001,Alfredton,Victoria,201011001,9060,9714,10338,11039,11852,12639,13520,14408,15472,16823,52.7,319.2
2,2,430.0,House,201011001,Alfredton,Victoria,201011001,9060,9714,10338,11039,11852,12639,13520,14408,15472,16823,52.7,319.2
3,3,460.0,House,201011001,Alfredton,Victoria,201011001,9060,9714,10338,11039,11852,12639,13520,14408,15472,16823,52.7,319.2
4,4,440.0,House,201011001,Alfredton,Victoria,201011001,9060,9714,10338,11039,11852,12639,13520,14408,15472,16823,52.7,319.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6641,6641,600.0,House,217041480,Warrnambool - South,Victoria,217041480,13146,13157,13154,13150,13173,13192,13214,13247,13323,13292,120.2,110.6
6642,6642,212.0,Studio,217041480,Warrnambool - South,Victoria,217041480,13146,13157,13154,13150,13173,13192,13214,13247,13323,13292,120.2,110.6
6643,6643,390.0,House,217041480,Warrnambool - South,Victoria,217041480,13146,13157,13154,13150,13173,13192,13214,13247,13323,13292,120.2,110.6
6644,6644,380.0,House,217041480,Warrnambool - South,Victoria,217041480,13146,13157,13154,13150,13173,13192,13214,13247,13323,13292,120.2,110.6
6645,6645,500.0,House,217041480,Warrnambool - South,Victoria,217041480,13146,13157,13154,13150,13173,13192,13214,13247,13323,13292,120.2,110.6

In [125]:
# get conversion data
conversion = pd.read_csv(main_directory+'data/curated/conversion/LGA_to_SA2.csv')

In [126]:
# get crime data
crime =pd.read_csv(main_directory+'data/curated/crime/crime_ratios_all.csv')

In [127]:
# drop unneeded columns
for i in range(12,21):
    rental_pop.drop(columns = ['pop_20' + str(i)], inplace = True)

In [128]:
rental_pop.drop(columns = ['Unnamed: 0', 'pop_density_2021', 'S/T name','SA2 code_x'], inplace = True)

In [150]:
current_income

,Unnamed: 0,SA2,SA2 NAME,Earners 2015,Earners 2016,Earners 2017,Earners 2018,Earners 2019,Median Age 2015,Median Age 2016,...,Median $ 2015,Median $ 2016,Median $ 2017,Median $ 2018,Median $ 2019,Mean $ 2015,Mean $ 2016,Mean $ 2017,Mean $ 2018,Mean $ 2019
0,0,201011001,Alfredton,6225,6718,7124,7558,7989,42,42,...,48532,49385,50845,52448,53932,56374,57747,60026,62315,63668
1,1,201011002,Ballarat,7289,7400,7470,7585,7595,45,46,...,47894,49564,50413,51736,53688,67217,72754,71895,74671,77876
2,2,201011003,Ballarat - North,12503,12516,12889,13356,13598,43,43,...,44494,45816,46561,49211,50593,53017,54660,56067,59786,60367
3,3,201011004,Ballarat - South,11347,11529,11905,12294,12722,40,39,...,40846,41544,42531,44293,45828,45473,46143,47676,49041,50778
4,4,201011005,Buninyong,3966,4001,4118,4195,4249,45,45,...,46972,47511,49179,51034,52377,58011,58292,60009,61565,63258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,457,217031476,Otway,2225,2212,2315,2297,2360,52,52,...,31322,33020,32563,33929,36219,40640,42426,44236,44755,46448
458,458,217041477,Moyne - East,3890,3833,3879,3954,4081,46,46,...,40775,40053,41244,44000,46071,48627,47031,49104,50652,55573
459,459,217041478,Moyne - West,5650,5602,5759,5765,5852,47,47,...,39961,41751,42159,43136,45256,48280,50307,51459,52080,55547
460,460,217041479,Warrnambool - North,12185,12346,12694,12950,13157,43,43,...,42635,43536,44772,46945,48855,50513,50939,52090,59812,56099
461,461,217041480,Warrnambool - South,7431,7583,7614,7734,8052,44,43,...,41641,42330,43439,45726,47242,50663,50965,53226,54849,58247

In [151]:
# get income data - current
current_income = pd.read_csv(main_directory + 'data/curated/income/vic_income_by_sa2.csv')
# only want most recent income - mean and median, whichever one works
current_income_relevant = pd.DataFrame()
current_income_relevant['SA2 NAME']=current_income['SA2 NAME']
current_income_relevant['Median $ 2019'] = current_income['Median $ 2019']
current_income_relevant['Mean $ 2019'] = current_income['Mean $ 2019']

In [129]:
# get current crime data
current_crime = pd.DataFrame()
current_crime['LGA code'] = crime['LGA code']
current_crime['2021']= crime['2021']

In [130]:
# get population data
population = pd.read_csv(main_directory+'data/curated/population/by age/SA2_Vic_age_clean.csv')

In [131]:
# rename columns so its identifiable
population = population.add_suffix('_population')

In [132]:
# merge population and rental
merge_pop_rent = rental_pop.merge(population,how = 'left', left_on = ['SA2 name'], right_on=['SA2 name_population'])

In [133]:
# drop unnecessary columns
merge_pop_rent.drop(columns = ['Unnamed: 0_population', 'SA2 code_y'], inplace = True)

In [135]:
merge_pop_rent

,cost_text,property_type,SA2 name,pop_2021,Area,SA2 code_population,SA2 name_population,Children_population,Early_Working_age_population,Prime_Working_age_population,Mature_Working_age_population,Elderly_population
0,460.0,House,Alfredton,16823,52.7,201011001,Alfredton,4075,2391,7550,1375,18255
1,440.0,House,Alfredton,16823,52.7,201011001,Alfredton,4075,2391,7550,1375,18255
2,430.0,House,Alfredton,16823,52.7,201011001,Alfredton,4075,2391,7550,1375,18255
3,460.0,House,Alfredton,16823,52.7,201011001,Alfredton,4075,2391,7550,1375,18255
4,440.0,House,Alfredton,16823,52.7,201011001,Alfredton,4075,2391,7550,1375,18255
...,...,...,...,...,...,...,...,...,...,...,...,...
6641,600.0,House,Warrnambool - South,13292,120.2,217041480,Warrnambool - South,2064,1386,5817,1798,15519
6642,212.0,Studio,Warrnambool - South,13292,120.2,217041480,Warrnambool - South,2064,1386,5817,1798,15519
6643,390.0,House,Warrnambool - South,13292,120.2,217041480,Warrnambool - South,2064,1386,5817,1798,15519
6644,380.0,House,Warrnambool - South,13292,120.2,217041480,Warrnambool - South,2064,1386,5817,1798,15519
6645,500.0,House,Warrnambool - South,13292,120.2,217041480,Warrnambool - South,2064,1386,5817,1798,15519

In [136]:
# put indexing columns at the front
SA2code = merge_pop_rent['SA2 code_population']
merge_pop_rent.drop(columns = ['SA2 code_population'], inplace = True)
merge_pop_rent.insert(2,'SA2 code',SA2code)

In [137]:
# get the LGAs into the dataset for inputing crime
merge_LGA = merge_pop_rent.merge(conversion, how = 'left', left_on = ['SA2 name'], right_on = ['SA2_NAME_2021'])

In [138]:
# merge crime and the rest of the data
merge_crime_all = merge_LGA.merge(current_crime, how = 'left', left_on = ['LGA_NAME_2021'], right_on = ['LGA code'])

In [141]:
# drop unnecessary columns
merge_crime_all.drop(columns = ['SA2 name_population','Unnamed: 0', 'SA2_CODE_2021', 'SA2_NAME_2021', 'LGA_CODE_2021', 'LGA_NAME_2021'], inplace=True)

In [146]:
merge_crime_all.rename(columns = {"2021": "2021 crime rate"},inplace = True) # rename crime rate col

In [147]:
# put indexing columns at the front
LGAcode = merge_crime_all['LGA code']
merge_crime_all.drop(columns = ['LGA code'], inplace = True)
merge_crime_all.insert(2,'LGA code',LGAcode)

In [158]:
# merge with current income -> completed all non poi merging
merge_all = merge_crime_all.merge(current_income_relevant, how = 'left',left_on = ['SA2 name'], right_on = ['SA2 NAME'])

In [154]:
merge_all.drop(columns = ["SA2 NAME"], inplace = True)

In [159]:
merge_all

,cost_text,property_type,LGA code,SA2 code,SA2 name,pop_2021,Area,Children_population,Early_Working_age_population,Prime_Working_age_population,Mature_Working_age_population,Elderly_population,2021 crime rate,SA2 NAME,Median $ 2019,Mean $ 2019
0,460.0,House,Ballarat,201011001,Alfredton,16823,52.7,4075,2391,7550,1375,18255,0.063340,Alfredton,53932,63668
1,440.0,House,Ballarat,201011001,Alfredton,16823,52.7,4075,2391,7550,1375,18255,0.063340,Alfredton,53932,63668
2,430.0,House,Ballarat,201011001,Alfredton,16823,52.7,4075,2391,7550,1375,18255,0.063340,Alfredton,53932,63668
3,460.0,House,Ballarat,201011001,Alfredton,16823,52.7,4075,2391,7550,1375,18255,0.063340,Alfredton,53932,63668
4,440.0,House,Ballarat,201011001,Alfredton,16823,52.7,4075,2391,7550,1375,18255,0.063340,Alfredton,53932,63668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6641,600.0,House,Moyne,217041480,Warrnambool - South,13292,120.2,2064,1386,5817,1798,15519,0.029437,Warrnambool - South,47242,58247
6642,212.0,Studio,Moyne,217041480,Warrnambool - South,13292,120.2,2064,1386,5817,1798,15519,0.029437,Warrnambool - South,47242,58247
6643,390.0,House,Moyne,217041480,Warrnambool - South,13292,120.2,2064,1386,5817,1798,15519,0.029437,Warrnambool - South,47242,58247
6644,380.0,House,Moyne,217041480,Warrnambool - South,13292,120.2,2064,1386,5817,1798,15519,0.029437,Warrnambool - South,47242,58247
6645,500.0,House,Moyne,217041480,Warrnambool - South,13292,120.2,2064,1386,5817,1798,15519,0.029437,Warrnambool - South,47242,58247

In [157]:
# save to csv to be modelled in summary notebook
merge_all.to_csv(main_directory+'data/curated/external_features(SA2).csv')